dist: trusty
sudo: false
notifications:
  email: false
language: c
compiler: gcc
cache:
  bundler: true
  directories:
  - ${HOME}/dl
  - ${HOME}/files
git:
  depth: 3
  submodules: false
env:
  global:
  - PACKAGE=kcptun
  - USER=kuoruan
  - REPO=openwrt-kcptun
  - CCACHE_VERSION=3.6
  - DOWNLOAD_DIR=${HOME}/files
  matrix:
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/ar71xx/generic SDK=-sdk-ar71xx-generic_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/ramips/mt7620 SDK=-sdk-ramips-mt7620_
  # - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/ramips/mt7621 SDK=-sdk-ramips-mt7621_
  # - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/ramips/mt76x8 SDK=-sdk-ramips-mt76x8_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/brcm63xx/generic SDK=-sdk-brcm63xx-generic_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/bcm53xx/generic SDK=-sdk-bcm53xx_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/brcm47xx/generic SDK=-sdk-brcm47xx-
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/ipq806x/generic SDK=-sdk-ipq806x_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/x86/generic SDK=-sdk-x86-generic_
  - SDK_PATH=https://downloads.openwrt.org/snapshots/targets/x86/64 SDK=-sdk-x86-64_
install:
# Create download dir
- mkdir -p "$DOWNLOAD_DIR" && cd "$DOWNLOAD_DIR"
# Install ccache
- wget -c "http://us.archive.ubuntu.com/ubuntu/pool/main/c/ccache/ccache_${CCACHE_VERSION}-1_amd64.deb"
- mkdir -p "${HOME}/local"
- sudo apt-get install -yq dpkg
- dpkg -x "ccache_${CCACHE_VERSION}-1_amd64.deb" "${HOME}/local"
- export PATH="${HOME}/local/usr/bin:$PATH"
# Download SDKs
- cd "$DOWNLOAD_DIR"
- wget "${SDK_PATH}/sha256sums" -O sha256sums
- |
  if ! grep -- "$SDK" sha256sums > sha256sums.small 2>/dev/null ; then
    printf "\033[1;31m=== Can not find ${SDK} file in sha256sums.\033[m\n"
    exit 1
  fi
- export SDK_FILE="$(cat sha256sums.small | cut -d' ' -f2 | sed 's/*//g')"
- |
  if ! sha256sum -c ./sha256sums.small 2>/dev/null ; then
    wget "${SDK_PATH}/${SDK_FILE}" -O "$SDK_FILE"

    if ! sha256sum -c ./sha256sums.small 2>/dev/null ; then
      printf "\033[1;31m=== SDK can not be verified!\033[m\n"
      exit 1
    fi
  fi
- file "${DOWNLOAD_DIR}/${SDK_FILE}"
- export SDK_HOME="$(mktemp -d)"
- cd "$SDK_HOME"
- tar -Jxf "${DOWNLOAD_DIR}/${SDK_FILE}" --strip=1
# Make a soft link to dl.
- test -d "${HOME}/dl" || mkdir -p "${HOME}/dl"
- test -d "dl" && rm -rf dl
- ln -s "${HOME}/dl/" dl
# Add feeds.
- echo "src-git base https://github.com/openwrt/openwrt.git" >feeds.conf
- echo "src-git packages https://github.com/openwrt/packages.git" >>feeds.conf
- echo "src-git luci https://github.com/openwrt/luci.git" >>feeds.conf
- echo "src-git routing https://git.openwrt.org/feed/routing.git" >>feeds.conf
- echo "src-git telephony https://github.com/openwrt/telephony.git" >>feeds.conf
# - echo "src-link ${PACKAGE} ${TRAVIS_BUILD_DIR}" >>feeds.conf
# Add soft link to package
- ln -s "$TRAVIS_BUILD_DIR" "package/${PACKAGE}"
script:
- cd "$SDK_HOME"
- "./scripts/feeds update -a >/dev/null"
- "./scripts/feeds install -a >/dev/null"
- make defconfig
- make package/${PACKAGE}/compile V=s
- find "${SDK_HOME}/bin/"
- find "${SDK_HOME}/bin/" -name ${PACKAGE}-*.ipk -exec cp {} "$TRAVIS_BUILD_DIR" \;
- ls -hl "$TRAVIS_BUILD_DIR" | grep .*\.ipk
deploy:
  provider: releases
  file_glob: true
  file: "${TRAVIS_BUILD_DIR}/*.ipk"
  skip_cleanup: true
  api_key:
    secure: t3i57lo628E4Mob/1m4Mrk6AjvULEmEsAFtZ0x5r4drPuA41fyG+BTY/1leyv5rkJZrDSbpNEcitJ1xgOTaxaAq+lpHqoKm6PrTvgTOA5DuIBD859EIm0Z62KDLjSK0T+Nj4qG3mw34NYHFwE10lh925NVUi7i4VFv5dVy7woRme0TS//nz2nqPpxJFy5BsunnTv5XvKwPYWtjrQ8+Ag1xGvOElyZzrjVMpWsM6a1HSWPFxG3REgGe/B6FAT4H2VOv7U6bz5lES0iCMQokhCXYxwYgCR7WWrSCtN8TV0ATH1MYGO/8pZQLUzAfSdFsGOPZuBO+dUrd2QU4Yas+V6kUwN7GsKiL2m40oWBUtEXnMfyZA7ib5dWRsQYH5YY27+qdtTx4oyoO5TqqQmDXq+Ye7DGqm12ljUDosCe52c/R1GhZ2JulsniezT6c+fM7GxJDwOdXQ+DqDc2N3uwDDaLi7f8xpJB4JVIHRUen4LuMsG3Dxu2D6ukaULfXkUvdeEu2e2TsHfIT+K8GCm/nSIKsl5hJ0gLY+bg8LD8bzNlN3gmXVcBViDDXbXTd8v1Akbh07ECpNOV3FCG78kGNralEyYgLmkJ2qyOP+YyeRPdtQmfQfddQTgGvBTsXE3tg7LGDgl39kTqAmWJeg8I94g/v36pdzazhDDxlSWl40UKdg=
  on:
    tags: true
    all_branches: true
